.P-dashboard{
  width: 100%;
}
.wrapper{
  width: 100%;
  height: 800px;
  display: flex;
}
.wrp-inner {
  flex: 1;
  background-color: black;
  &:first-child{
    background-color: red;
    max-width: 200px;
  }
}