.P-users-box{
    width:25%  ;
  height: 450px;
  border: 1px solid black;
  background-color: rgb(211, 189, 246);
  margin:10px;
}

.P-user-result{
  margin-top: 70px;

  p{
    color: #635c63;
    padding: 5px;
  }
}