.P-register-form {
  max-width: 300px;
  width: 100%;
  height: 500px;
  transition: 0.3s;
  position: absolute;
  top: 100px;
  left: 100px;
  opacity: 0;
}

.P-register-form-hide {
  opacity: 1;
  z-index: 10;
}