@mixin input-profile {
  font-size: 14px;
  border: 1px solid #a8a8a8;
  border-radius: 2px;
  padding-left: 5px;
  height: 35px;
  margin-top: 10px;
  color: #a8a8a8;
}

.P-user-profile-content {
  width: calc(100% - 260px);
  height: 100%;
}

.P-user-profile {
  width: 100%;
  margin-top: 30px;
  padding: 0 30px;
}

.P-edit-profile-title {
  font-size: 22px;
  font-family: roboto, helvetica neue, Arial, sans-serif;
  margin: 25px;
}

// custom / label

.P-user-form label {
  font-size: 12px;
  font-family: roboto, helvetica neue, Arial, sans-serif;
  text-transform: uppercase;
  color: #a8a8a8;
  margin: 10px 0;
}


.P-user-input-content {
  width: 65%;
  height: 600px;
  border: 1px solid #a8a8a8;
  background-color: white;
  border-radius: 5px;
}


// line a / company / username / email address

.P-input-company-disabled input[type=text] {
  width: 300px;
  @include input-profile();
}

.P-input-user-name input[type=text] {
  width: 150px;
  @include input-profile();
}

.P-input-email input[type=text] {
  width: 200px;
  @include input-profile();
}

// input ******** first name / last name ********

.P-input-first-last-name input[type=text] {
  width: 310px;
  @include input-profile();
}


// address

.P-input-address input[type=text] {
  width: 680px;
  @include input-profile();
}


// city / country / postal code

.P-input-city input[type=text] {
  width: 220px;
  @include input-profile();
}

.P-input-country input[type=text]{
  width: 220px;
  @include input-profile();
}

.P-input-postal-code input[type=number] {
  width: 220px;
  @include input-profile();
}


// about me

.P-input-about-me {
  margin: 0 10px;

  & textarea {
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    color: #a8a8a8;
    padding-left: 5px;
    overflow: auto;
    resize: vertical;
  }

  & label {
    margin: 10px 0;
  }
}

// button

.P-update-profile {
  width: 137px;
  height: 40px;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #1dc7ea;
  color: white;
}

.P-update-profile:hover {
  background-color: #49d7f3;
}

// user profile

.P-user-content {
  width: 30%;
  height: 400px;
  border: 1px solid #a8a8a8;
  background-color: white;
  border-radius: 5px;
  position: relative;
}