.P-setting-parent {
  position: fixed;
  top: 200px;
  margin: 0;
}

.P-setting {
  width: 52px;
  height: 47px;
  background-color: #b1afaf;
  opacity: 0.9;
  color: #212529;
  border-radius: 6px 0 0 6px;

}

.icon-setting{
  font-size: 30px;
}
