.P-create-user {
  width: 100%;
  height: 100%;
}

.P-user-profile label {
  color: black;
}

.P-create-profile-title {
  font-size: 22px;
  font-family: roboto, helvetica neue, Arial, sans-serif;
  margin: 15px;
}

// user profile

.P-user-profile {
  margin-top: 30px;
  padding: 30px;
}

.P-create-user-content {
  max-width: 400px;
  width: 100%;
  border: 1px solid black;
  padding: 30px;
}

.P-user-content {
  max-width: 400px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 20px;
  padding: 15px;
}


