.P-create-user {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.P-user-profile label {
  color: black;
}

.P-create-profile-title {
  font-size: 22px;
  font-family: roboto, helvetica neue, Arial, sans-serif;
  margin: 15px;
}

// user profile

.P-user-profile {
  margin-top: 30px;
  padding: 30px;
}

.P-create-user-content {
  max-width: 400px;
  width: 100%;
  border: 1px solid black;
  padding: 30px;
}

.P-user-content {
  max-width: 400px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 20px;
  padding: 15px;
}

// upload image start

.P-choose-user-img {
  input[type=file] {
    display: none;

  }

  label {
    font-size: 14px;
    color: rgb(147, 104, 233);
    font-weight: bold;
    margin: 5px 0 15px 0;
    border: 1px solid white;
    transition: 0.3s;
  }

  label:hover {
    color: rgb(107, 27, 239);
    border-bottom: 1px solid rgb(107, 27, 239);
  }

  p {
    font-size: 14px;
    font-family: "Bodoni MT";
    color:brown;
  }
}

.P-choose-img {
  input[type=file] {
    display: none;
  }

  label {
    font-size: 14px;
    color: rgb(147, 104, 233);
    font-weight: bold;
    margin: 5px 0 15px 0;
    border: 1px solid white;
    transition: 0.3s;
  }

  label:hover {
    color: rgb(107, 27, 239);
    border-bottom: 1px solid rgb(107, 27, 239);
  }

  p{
    font-size: 14px;
    font-family: "Bodoni MT";
    color:brown;
  }
}

.P-upload-img {
  width: 100%;

  .P-image-main {
    width: 100%;
    height: 130px;
  }

  .P-image-profile {
    max-width: 110px;
    margin-bottom: -55px;
    width: 100%;
    height: 110px;
    border-radius: 100%;
    border: 4px solid #e5d9d9;
  }
}



