.P-side-bar-title {

  & a {
    line-height: 31px;
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    color: white;
    text-transform: uppercase;

    transition: 0.3s;
    font-weight: 300;

  }

  ul li a {
    width: 230px;
    height: 50px;
    padding: 10px;
    opacity: 1;
    margin: 5px 0;
  }
}

.P-side-bar-title li a:hover {
  background: rgba(255, 255, 255, .23);
}


.G-icon-svg {
  color: white;
  font-size: 22px;
  margin: 0 7px;
  stroke-width: 10px;
}
