.P-icon-list-box{
  width: 100%;
}
.P-icon-item span {
  font-size: 28px;
  color: #383A3D;
}

.P-icon-border {
  width: 120px;
  height: 120px;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}