
.P-user-info{
  margin-top: 70px;

  p {
    padding: 5px 0;
  }
}

// icon content


.P-user-social-icon {
  margin-top: 30px;

  span {
    font-size: 22px;
    line-height: 18px;
    color: #636060;
    margin: 10px;
  }
}

.P-icons-under-line {
  width: 300px;
  border-bottom: 1px solid #636060;
}

// choose img

