P-icon-content {
  width: 100%;
}

.P-icon-content-child {
  width: 95%;
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  margin-top: 40px;
  padding: 30px;

}

.P-icon-title {
  margin: 15px;

  & p:nth-child(odd) {
    font-size: 24px;
    font-family: Tahoma;
    color: black;
  }

  & p:nth-child(even) {
    font-size: 16px;
    font-family: Bahnschrift;
    color: #575454;
  }
}