.P-hint-box{
  width: 270px;
  height: 500px;
  position: absolute;
  border-radius: 10px;
  border:1px solid black;
  top:-80px;
  right: 52px;
  background-color: white;
  //opacity: 1;
}

.P-color-size span{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

// img content

.P-change-img{
  width: 23%;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;

  &:hover{
    border: 3px solid rgba(0,187,255,.53);
  }
}


