@import './src/assets/style/index';
@import 'assets/icomoon/style';

html, body{
  background-color: #fefcff;
  width: 100%;
  height: 100%;
}

.P-routing-relative{
  position: relative;
  width: calc(100% - 260px);
  left:260px;
}